* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    display: flex;
    justify-content: space-between; /* Ensures even spacing between logo, nav links, and button */
    align-items: center; /* Vertically centers all elements in the header */
    padding: 15px 5%; /* Adjusts spacing inside the header */;
    border: none;
    background-color: #ebecf2;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    height: 50px; /* Adjust as needed */
    margin-right: 10px;
}

.logo span {
    font-size: 20px;
    font-weight: bold;
    color: black;
}


.nav_links {
    list-style: none; /* Removes bullet points */
    display: flex; /* Aligns navigation items horizontally */
    align-items: center; /* Vertically centers the navigation links */
    gap: 20px; /* Adds spacing between navigation links */
    margin: 0; /* Removes any default margin on the list */
    padding-left: 18px; /* Removes any default padding on the list */

}

.nav_links li {
    display: inline-block; /* Ensures each list item behaves as an inline-block */
    margin-right: 20px;

}

.nav_links li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth color transition on hover */

}

.nav_links li a:hover {
    color: #0079c2; /* Changes color on hover */
}

button {
    padding: 9px 25px;
    background: linear-gradient(270deg, #004aad,#0079c2);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #ebecf2;
}

button:hover {
    background-color: linear-gradient(270deg, #00c2ff, #0079c2);
}

.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 10%;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title {
    font: weight 600;
    color: #004aad;
    font-size: 40px;
}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #004aad;
    border-radius: 20px;
    margin-bottom: 20px;
}

.contact-input {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #004aad;
    border-radius: 50px;
    background-color: #ebecf2;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    background-color: #ebecf2;
}

.contact-input textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-input:focus {
    background: 2px solid #0079c2;
}

.contact-input:placeholder {
    color: #0079c2;
    font-weight: 500;
}

.contact-left button { 
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #004aad, #0079c2);
    cursor: pointer;
}

.contact-left button img {
    height: 15px;
    width: 20px;
}

.contact-right img {
    height: 500px;
    width: 500px;
}

@media (max-width:800px) {
    .contact-input{
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}