* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

header {
    display: flex;
    justify-content: space-between; /* Ensures even spacing between logo, nav links, and button */
    align-items: center; /* Vertically centers all elements in the header */
    padding: 15px 5%; /* Adjusts spacing inside the header */;
    border: none;
    background-color: #ebecf2;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    height: 50px; /* Adjust as needed */
    margin-right: 10px;
}

.logo span {
    font-size: 20px;
    font-weight: bold;
    color: black;
}


.nav_links {
    list-style: none; /* Removes bullet points */
    display: flex; /* Aligns navigation items horizontally */
    align-items: center; /* Vertically centers the navigation links */
    gap: 20px; /* Adds spacing between navigation links */
    margin: 0; /* Removes any default margin on the list */
    padding-left: 18px; /* Removes any default padding on the list */

}

.nav_links li {
    display: inline-block; /* Ensures each list item behaves as an inline-block */
    margin-right: 20px;

}

.nav_links li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

.nav_links li a:hover {
    color: #0079c2; /* Changes color on hover */
}

button {
    padding: 9px 25px;
    background: linear-gradient(270deg, #004aad,#0079c2);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #ebecf2;
}

button:hover {
    background-color: linear-gradient(270deg, #00c2ff, #0079c2);
}

.container {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
}

.services-wrapper{
    padding: 5% 8%;
}

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #fff;
    font-size: 5rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
    letter-spacing: 4px;
    background-color: #004aad;
    background: linear-gradient(8deg, #004aad, #0079c2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position : relative;
    align-items: center;
    text-align: center;
    margin-top: 25px;
}

h1:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    width: 80%;
    height: 8px;
    border-radius: 8px;
    background: linear-gradient(8deg, #004aad, #0079c2);
    z-index: -1;
}

h1 span{
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #004aad;
    animation: anim 5s linear infinite;
}

@keyframes anim {
    95%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        left : 88%;
    }
}   


.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 80px;
    align-content: center;
}

.card{
    height: 330px;
    width: 370px;
    background-color: #ebecf2;
    border-radius: 8px;
    transition: 0.6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding: 3% 8%;
}

.card:after{
    content: "";
    position: relative;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: #fff;
    height: 18px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;
}

.card:hover:after{
    width: 225%;
    top: -100%;
}
.card i{
    color: #004aad;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 4.8rem;
}

.card h2{
    color: #004aad;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

.card p{
    width: 100%;
    text-align: center;
    margin: 12px 0;
}

.card:hover{
    transform: translateY(-8px);
    background-color: transparent;
    border-color: #0079c2;
}

.card:hover i{
    color: #0079c2;
}

@media screen and (max-widdth:1200px) {
    .cards{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-widdth:900px) {
    .cards{
        grid-template-columns: repeat(1,1fr);
    }
    h1{
        font-size: 3.5rem;
    }
}